//body { padding-top: @navbar-height; }
.header {
  .header-inner {

    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }
}



.btn {
  span {
    vertical-align: middle;
  }
  i {
    font-size: 150%;
    vertical-align: middle;

    margin-top: -3px;
    margin-left: ( @grid-gutter-width * .25 );
  }
}







.title {
  font-size: ( @font-size-h1 * 1.25 );

  font-weight: normal;
  letter-spacing: 3px;

  margin: ( @grid-gutter-width * 1.85 ) 0 ( @grid-gutter-width * 1 );
  b {
    font-weight: inherit;
    font-size: ( @font-size-base * 1.5 );

    color: @palette1;
  }
}
