.images-slider {
  .item{
    position: relative;
    .image-item {

    }
    .message-item {
        position: absolute;
        bottom: 20px;
        left: 50%;
        .translate(-50%; 0);
        z-index: 2;

        width: 100%;
        padding: 50px;

        text-align: left;
    }
    .images-slider__overlay {
      position: absolute;

      z-index: 1;

      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;

      &.gradient {
        #gradient > .vertical(fade(darken(@brand-primary, 30%), 5%); darken(@brand-primary, 30%));
      }

    }
  }
}
